.table-wrapper {
  max-width: 100%;
  overflow: auto;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table td,
th {
  border: 1px solid gray;
  padding: 8px;
}

.table__contest {
  background-color: lightgreen;
}

.table__tasks {
  background-color: thistle;
}

.table__handle {
  background-color: lightpink;
}

.table__cell_success {
  background-color: green;
}

.table__cell_failure {
  background-color: yellow;
}
